body{
  overflow-x: hidden;
}
.heading{
  background-image: url(../images/h_img.jpg);
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  font-size: 10px;
}
#logo{
  padding-top: 20px;
padding-bottom: 20px;
}
#mouse-click{
  padding-top: 83px;
  margin: 10%;
  padding-bottom: 20px;
  height: 0px;

}
#mouse_click{
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: bounce;

}
.services{
  background-image: url(../images/s_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
background-position: center;
color: white;
text-align: center;
height: 240px;
}
.row{
  columns: 3;
  text-align: center;
}
.about{
  text-align: center;
}
#story1, #story2, #story3{
  display: none;
}
.portfolio{
  text-align: center;

}
#portfolio{
  text-align: center;
}
.contacts{
  background-image: url(../images/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  background-blend-mode: multiply;

}
.socials{
  text-align: center;
 margin-left: 5%;
 margin-right: 5%;
 margin-top: 2%;
}
#copy{
  text-align: center;
  color: maroon;
}
.body{
  background-color: white;
  font-size: 15px;
  font-family: serif;
}

#abouts{
  text-align: center;
}
#contact{
  text-align: center;
  color: white;
}
.contact{
  column-count: ;
}
#message{
  max-width: 60%;
  margin-left: 21.5%;
  margin-right: 23%;
}
#button{
  margin-top: 5%;
  margin-bottom: 2%;
}
#email, #message, #name{
  background: transparent;
  color: white;
}
.work1{
background: transparent;
}
@media only screen and (max-width: 768px) {
width: 100%;
height:
}

#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8{
  cursor: pointer;
}
body:hover-image{
  color: blue;
}
